<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yingke.transition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">



        <activity android:name=".activity.ActivityContentActivity" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CustomActivity"
            android:theme="@style/AppTheme_Red"
            >

        </activity>

        <activity
            android:name=".activity.ScaleUpActivity"
            android:theme="@style/AppTheme_Blue"
            >

        </activity>
        <activity
            android:name=".activity.ThumbnailScaleUpActivity"
            android:theme="@style/AppTheme_Green"
            >

        </activity>

        <activity
            android:name=".activity.SceneActivity"
            android:theme="@style/AppTheme_Yellow"
            >

        </activity>
    </application>

</manifest>